#customers {
				    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
				    border-collapse: collapse;
				    width: 70%;
				}
				
				#customers td, #customers th {
				    border: 1px solid #ddd;
				    padding: 8px;
				}
				
				#customers tr:nth-child(even){background-color: #f2f2f2;}
				#customers tr:nth-child(odd){background-color: #f2f2f2;}
				
				#customers tr:hover {background-color: #ddd;}
				
				#customers th{
				    padding-top: 12px;
				    padding-bottom: 12px;
				    text-align: center;
				    background-color: #4CAF50;
				    color: white;
				    } 
				    /*Esto es el equivalente de Pie_1.css*/
				 #Linea_inferior{
				    position: fixed;/*Fija la posicion respecto del viewport osea de la pagina web*/
				  	bottom: 0%;
				  	/*left: 0%;*/
				  	width: 100%;
				  	font-size: 85%;
				  	background-color: #98ADC8;	
				  	color: #FFF;
				    text-align: center;
				    }
				  #Datos_autor{
				    margin-bottom: 0px;
				    }